{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            NewsAPI.org Crawler
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container"><!-- container -->

    <header class="row">
        <div class="twelve columns">
            <h1><b>News Crawler</b></h1>
        </div>
    </header>
    <nav>
        <div class="twelve columns">
            <a href="{% url 'crawler_article_list' %}" class="button button-primary">
                    Get the latest news from newsapi.org (HTML)</a></li>

            <a href=" {% url 'crawler_article_jsonlist' %}" class="button button-primary">
                    Get the latest news from newsapi.org (JSON)</a></li>
        </div>
    </nav>

    <main>
        {% block content %}
            This is default content!
        {% endblock content %}
    </main>

</div><!-- container -->

<footer>
    <div class="row">
        <div class="twelwe columns">

            &copy; 2017 Gorilla Corporation

        </div>
        <div>
</footer>

</body>

</html>